* {
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-image: ("../img/background.png");
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.modal-content {
  width: 100%;
  /*   height: 100%; */
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.modal-img {
  transform: translateY(-280px);
}

.modal-aside {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.modal-close {
  text-align: right;
  color: #a6a7b3;
  font-size: 25px;

  padding-bottom: 110px;
}

.modal-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbe0;
}

.modal-description {
  width: 248px;
  height: 160px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #212240;
  padding: 40px 0;
  border-bottom: 1px solid #dbdbe0;
}
